/* Global Styles */
body {
  background-color: #f4f4f9;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#calculator {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

/* Display Styles */
#display {
  background-color: #222;
  color: #fff;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Buttons Container */
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* Button Styles */
button {
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Button Hover */
button:hover {
  background-color: #666;
}

/* Special Buttons */
button#equals {
  background-color: #ff9500;
  color: white;
}

button#clear {
  background-color: #ff3b30;
  color: white;
}

button#decimal {
  background-color: #999;
  color: white;
}